parameters:
- name: 'mirrorType'
  type: string
  default: 'aptly'
  values:
  - aptly
  - apt-mirror
- name: 'fileSystems'
  type: object
  default:
  - name: 'debian'
    url: 'http://deb.debian.org/debian'
    mirrors:
    - name: trixie
      distributions: 'trixie,trixie-updates,trixie-backports'
      components: 'contrib,non-free,main,non-free-firmware'
    - name: bookworm
      distributions: 'bookworm,bookworm-updates,bookworm-backports'
      components: 'contrib,non-free,main,non-free-firmware'
    - name: bullseye
      distributions: 'bullseye,bullseye-updates,bullseye-backports'
    - name: buster
      distributions: 'buster,buster-updates,buster-backports'
    - name: stretch
      distributions: 'stretch,stretch-updates,stretch-backports'
    - name: jessie
      distributions: 'jessie,jessie-updates'
      architectures: 'amd64,armhf'
  - name: 'debian-security'
    url: 'http://security.debian.org/debian-security'
    mirrors:
    - name: 'trixie-security'
      distributions: 'trixie-security'
      components: 'contrib,non-free,main,non-free-firmware'
    - name: 'bookworm-security'
      distributions: 'bookworm-security'
      components: 'contrib,non-free,main,non-free-firmware'
    - name: 'bullseye-security'
      distributions: 'bullseye-security'
    - name: 'buster-security'
      distributions: 'buster/updates'
    - name: 'stretch-security'
      distributions: 'stretch/updates'
    - name: 'jessie-security'
      distributions: 'jessie/updates'
      architectures: 'amd64,armhf'

jobs:
- template: jobs-template.yml
  parameters:
    jobVariables:
      MIRROR_COMPONENTS: 'contrib,non-free,main'
      ${{ if eq(parameters.mirrorType, 'apt-mirror') }}:
        MIRROR_ARICHTECTURES: 'all,amd64,armhf,arm64'
      ${{ else }}:
        MIRROR_ARICHTECTURES: 'amd64,armhf,arm64'
      NFS_MOUNT_POINT: /nfs
      MIRROR_ROOT: /mirrors
    preSteps:
    - script: |
        set -ex
        ip addr
        sudo apt-get update
        sudo apt-get install -y nfs-common jq apt-mirror
        curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash

        . /etc/os-release
        sudo mkdir -p $NFS_MOUNT_POINT $MIRROR_ROOT
        sudo chown $(id -un):$(id -gn) $MIRROR_ROOT
        sudo umount $NFS_MOUNT_POINT || true
        sudo mount -t nfs -o rw,hard,rsize=65536,wsize=65536,sec=sys,vers=4.1,tcp $(NFS_VOLUMN) $NFS_MOUNT_POINT
        sudo chmod 777 $NFS_MOUNT_POINT
        if ! mountpoint -q $NFS_MOUNT_POINT; then
          echo "Failed to mount $(NFS_VOLUMN) $NFS_MOUNT_POINT" 1>&2
          exit 1
        fi

        if [ -z "$(which azcopy)" ]; then
          wget -O- "https://aka.ms/downloadazcopy-v10-linux" | tar -zxf - --strip-components=1
          sudo mv -f azcopy /usr/local/bin/
          azcopy --version
        fi
      displayName: 'Init agent'
      retryCountOnTaskFailure: 5
    - script: |
        echo "STORAGE_ACCOUNT=$STORAGE_ACCOUNT"
        echo "MIRROR_FILESYSTEM=$MIRROR_FILESYSTEM"
        echo "MIRROR_URL=$MIRROR_URL"
        echo "MIRROR_DISTRIBUTIONS=$MIRROR_DISTRIBUTIONS"
        echo "MIRROR_COMPONENTS=$MIRROR_COMPONENTS"
        echo "MIRROR_ARICHTECTURES=$MIRROR_ARICHTECTURES"
        echo "MIRROR_VERSION=$MIRROR_VERSION"
        echo "GROUP_NAME=$GROUP_NAME"
        echo "GROUP_NAMES=$GROUP_NAMES"
        echo "UpdateMirror=$(UpdateMirror)"
        echo "GROUP_NAMES=$GROUP_NAMES"
      displayName: 'Print Parameters'
    stepGroups:
    - ${{ each fileSystem in parameters.fileSystems }}:
      - ${{ if eq(parameters.mirrorType, 'aptly') }}:
        - ${{ each mirror in fileSystem.mirrors }}:
          - name: ${{ mirror.name }}
            variables:
              MIRROR_NAME: ${{ mirror.name }}
              MIRROR_FILESYSTEM: ${{ fileSystem.name }}
              MIRROR_URL: ${{ fileSystem.url }}
              MIRROR_DISTRIBUTIONS: ${{ mirror.distributions }}
              ${{ if ne(mirror.architectures, '') }}:
                MIRROR_ARICHTECTURES: ${{ mirror.architectures }}
              ${{ if ne(mirror.components, '') }}:
                MIRROR_COMPONENTS: ${{ mirror.components }}
            steps:
            - script: |
                set -ex
                if [[ "$MIRROR_NAME" == jessie* ]]; then
                  echo "Skipped to update mirror $MIRROR_NAME, $MIRROR_URL"
                  exit 0
                fi
                azure-pipelines/scripts/mirror/publish-debian-mirror-v2.sh -n "$MIRROR_NAME" -u "$MIRROR_URL" -d "$MIRROR_DISTRIBUTIONS" -a "$MIRROR_ARICHTECTURES" -c "$MIRROR_COMPONENTS" -b "$STORAGE_ACCOUNT"
              env:
                PASSPHRASE: $(sonic-gpg-passphrase)
                GPG_KEY: $(sonic-gpg-enc-private-key)
                UPDATE_MIRROR: $(UpdateMirror)
                GPG_PUBLIC_KEY2: $(sonic-gpg-public-key-2)
              displayName: 'Publish Aptly Mirror'
      - ${{ else }}:
        - name: ${{ fileSystem.name }}
          variables:
            MIRROR_FILESYSTEM: ${{ fileSystem.name }}
            MIRROR_URL: ${{ fileSystem.url }}
            MIRRORS: '${{ convertToJson(fileSystem.mirrors) }}'
          steps:
          - script: |
               set -x
               df -h # /nfs max storage is 4 TBi
               ls -al /nfs/v1/sn/work/debian/mirror/deb.debian.org/debian/pool /nfs/v1/sn/work/debian-security/mirror/security.debian.org/debian-security/pool
               ls -al /nfs/v1/sn/publish/debian/ /nfs/v1/sn/publish/debian-security/ 
               ls -al /nfs/v1/sn/work/debian/mirror/deb.debian.org/debian/ /nfs/v1/sn/work/debian-security/mirror/security.debian.org/debian-security/
               azure-pipelines/scripts/mirror/publish-debian-snapshot.sh  -n "$MIRROR_FILESYSTEM" -u "$MIRROR_URL" -j "$MIRRORS" -a "$MIRROR_ARICHTECTURES" -c "$MIRROR_COMPONENTS"
            displayName: 'Publish Apt Mirror'
          - task: AzureCLI@2
            displayName: Publish to Azure Storage by task
            inputs:
              azureSubscription: 'debian-snapshot'
              scriptType: 'bash'
              scriptLocation: 'inlineScript'
              inlineScript: |
                set -ex
                export AZCOPY_AUTO_LOGIN_TYPE=AZCLI
                #az storage blob delete-batch --auth-mode login --account-name sonicstoragepublic --source debian-snapshot --pattern "debian/ts/latest/*"
                azcopy copy /nfs/v1/sn/publish/debian/latest/timestamp "https://sonicstoragepublic.blob.core.windows.net/debian-snapshot/debian/latest" --follow-symlinks=true
                ts=$(cat /nfs/v1/sn/publish/debian/latest/timestamp)
                azcopy copy /nfs/v1/sn/publish/debian/latest/dists "https://sonicstoragepublic.blob.core.windows.net/debian-snapshot/debian/ts/$ts/" --recursive=true --follow-symlinks=true
                ts=$(cat /nfs/v1/sn/publish/debian-security/latest/timestamp)
                azcopy copy /nfs/v1/sn/publish/debian-security/latest/timestamp "https://sonicstoragepublic.blob.core.windows.net/debian-snapshot/debian-security/latest" --follow-symlinks=true
                azcopy copy /nfs/v1/sn/publish/debian-security/latest/dists "https://sonicstoragepublic.blob.core.windows.net/debian-snapshot/debian-security/ts/$ts/" --recursive=true --follow-symlinks=true
                #for dist in $(find /nfs/v1/sn/publish/debian/ /nfs/v1/sn/publish/debian-security/ -maxdepth 3 -name dists -type d); do
                  # dist= /nfs/v1/sn/publish/debian/20250902T172610Z/dists
                #  ts=$(echo $dist | grep -Eo [0-9]{8}T[0-9]{6}Z)
                #  repo=$(echo $dist | grep -Eo debian[^/]*/[0-9]{8}T[0-9]{6}Z | grep -Eo debian[^/]*)
                #  azcopy copy $dist "https://sonicstoragepublic.blob.core.windows.net/debian-snapshot/$repo/ts/$ts/" --recursive=true --follow-symlinks=true
                #done
                ls -al /nfs/v1/sn/work/debian-security/mirror/security.debian.org/debian-security/pool /nfs/v1/sn/work/debian/mirror/deb.debian.org/debian/pool
                ls -al /nfs/v1/sn/work/debian-security/mirror/security.debian.org/debian-security/pool/updates
                ls -al /nfs/v1/sn/work/debian/mirror/deb.debian.org/debian/pool/main/n/net-snmp
                azcopy sync /nfs/v1/sn/work/debian-security/mirror/security.debian.org/debian-security/pool \
                  "https://sonicstoragepublic.blob.core.windows.net/debian-snapshot/debian-security/pool"
                azcopy sync /nfs/v1/sn/work/debian/mirror/deb.debian.org/debian/pool \
                  "https://sonicstoragepublic.blob.core.windows.net/debian-snapshot/debian/pool"

